/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.header{
    background: #FBFFF7;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}


.menu-and-close-icon{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

#open-icon, #close-icon{
    padding-right: 30px; 
}

#close-icon{
    display: none;
    cursor: pointer;
}

.menu-items{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    padding: 5%;
    background: rgba(251, 255, 247, 0.66);
}

.menu-items.open{
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.nav-link{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    line-height: 50px;
    color: #383D03;
    align-items: center;
}

.nav-link:hover{
    background: rgba(56,61,3,0.45);
}

.website-name{
    display: flex;
    flex-direction: column;
    line-height: 10px;
    padding-left: 10px;
    padding-top: 20px;
}

.title{
    font-family: 'Alata', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #383D03;
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 17px;
}

.title-extended{
  font-size: 11.25px;
}

#top-menu-bar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#top-menu-bar a {
    color: white;
    text-decoration: none;
}

#top-menu-bar a:hover {
    color: #ddd;
}

#leaflet-map {
    width: 100vw;
    height: calc(100vh - 50px);
    margin-top: 15px;
    position: fixed;
    top: 15px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
