/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
}

.header {
    background: #FBFFF7;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px; /* Adjust the height value as needed */
}

.menu-and-close-icon {
    cursor: pointer;
    display: flex;
    align-items: center; /* Align the menu button vertically in the center */
    padding-left: 10px; /* Add some left padding to the menu button for spacing */
}

#open-icon, #close-icon {
    padding-right: 30px;
}

#close-icon {
    display: none;
    cursor: pointer;
}

.menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px; /* Adjust the top position to match the header height */
    right: 0;
    padding: 5%;
    background: rgba(251, 255, 247, 0.66);
    z-index: 1000; /* Adjust the z-index value as needed */
}

.menu-items.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.nav-link {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    line-height: 50px;
    color: #383D03;
    align-items: center;
}

.nav-link:hover {
    background: rgba(56, 61, 3, 0.45);
}

.website-name {
    display: flex;
    flex-direction: column;
    line-height: 10px;
    padding-left: 10px;
    padding-top: 20px;
}

.title {
    font-family: 'Alata', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #383D03;
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 18px;
}

.title-extended {
    font-size: 11.25px;
}

#top-menu-bar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 35px;
    position: fixed;
    top: 0;
    left: 0;
}

#top-menu-bar a {
    color: white;
    text-decoration: none;
}

#top-menu-bar a:hover {
    color: #ddd;
}

#leaflet-map {
    width: 100vw;
    height: calc(100vh - 50px);
    margin-top: 15px;
    position: fixed;
    top: 35px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#footer {
    width: 20%;
    background-color: rgba(251, 255, 247, 0.8); /* Adjust the transparency as needed */
    color: black;
    text-align: center;
    position: fixed;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    border-radius: 10px; 
}

/*about page styles */
.title-section{
    padding: 15rem;
    background:#383d0369;
 }
 .icons-section{
   width: 100%;
   height: 100vh;
   display: flex;
 }
 
 .icons-description{
     flex: 50%;
     padding-top: 10px;
 }
 
 .group-img{
     flex: 50%;
     height: 100vh;
 }
 
 #group-img{
     width: 100%;
     height: 75%;
 }
 
 .about-title{
     margin-top: 65px;
     color:#FBFFF7;
     font-family: 'Lato', sans-serif;
     text-align: center;
     font-size: 50px;
     padding-top: 30px;
 }
 
 .icons{
     font-family: 'Alata', sans-serif;
     text-align: center;
     font-size: 30px;
     padding-top: 15px;
     color:#f5fbef;
 }
 
 .revealable {
     position: relative;
     transform: translateY(150px);
     opacity: 0;
     transition: all 2s ease;
 }
 
 .revealable.active{
     transform: translateY(0px);
     opacity: 1;
 }
 
 
 .icons-paragraph{
     font-family: 'Lato', sans-serif;
     margin: 26px;
     font-size: 26px;
     color:#232702;
     font-weight: bolder;
     line-height: 50px;
 }
 
 ul.icons-paragraph{
     list-style-type: circle;
 }
 
 .meet-team-section{
     display:flex;
     flex-direction: column;
 }
 
 .meet-teem-header{
     text-align: center;
     font-family: 'Alata', sans-serif;
     font-size: 40px;
     color: #f5fbef;
 }
 .intro{
     display:flex;
     flex-direction: column;
 
 }
 
 /*styles to make circular image*/
 .intro-img{
     height: 20rem;
     width: 15rem;
     border: 1px solid #f5fbef;
     box-shadow: 5px 2px 2px #383d0324;
     margin: 26px;
     margin-bottom: 5px; 
 }
 
 .intro-paragraph{
     font-family: 'Lato', sans-serif;
     font-size: 26px;
     color:#232702;
     font-weight: bolder;
     margin: 35px;
     margin-top: 2px;
 }
 
 .Seniors-imgs{
    display: flex;
}

.Juniors-imgs{
    display: flex;
}